# Unity folders (DO NOT COMMIT)
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# MemoryCaptures
[Mm]emoryCaptures/

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.booproj

# OS files
.DS_Store
Thumbs.db
